body{
  background-color: #EAF6F6;
}
hr{

  border-style: dotted none none none;
  /*border-style:none;
   border-top-style=dotted;*/
   border-color: grey;
   border-width: 5px;
   width: 5%;

}
img:hover{
  background-color: gold;
}
h1{
  color: #00888C;
}
h2{
    color: #00888C;
}
h3{
    color: #00888C;
}
img{
  height: 250px;
  background-color: pink;
}
